<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="DeveiceAutomationTest_Desktop.ReportService.TestResultReportService">
                <endpoint address="" binding="wsHttpBinding" contract="DeveiceAutomationTest_Desktop.ReportService.ITestResultReportService">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/DeveiceAutomationTest_Desktop.ReportService/TestResultReportService/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
      <bindings>
        <basicHttpBinding>
          <binding name="reportBinding" maxBufferSize="1000000" maxBufferPoolSize="1000000"
            maxReceivedMessageSize="1000000">
            <readerQuotas maxStringContentLength="1000000" maxArrayLength="1000000" />
          </binding>
        </basicHttpBinding>
      </bindings>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
